<%= form_for(@upload) do |f| %>

  <label class="upload">
    <% # <span class="button">Choose an MP3</span> %>
    <%= f.file_field :mp3 %>
  </label>
  <%= f.submit "UPLOAD", class:"button" %>

<% end %>