<h1> Run Sox Commands </h1>

<h3><a href="/shell/upload"> Upload an Mp3 </a></h3>

<p><a href="/shell/reverse?input=test&amp;output=test"> Test Reverse </a></p>
<p><a href="/shell/reverse?input=test&amp;output=test&amp;start=0&amp;finsh=10"> Test Trim </a></p>