<h3><a href="/shell/reverse"> Reverse an MP3 </a></h3>

<%
=begin 
<h3><a href="/shell/trim"> Trim an MP3 </a></h3>
<h3><a href="/shell/reverse?input=test&amp;output=test"> Reverse an MP3 </a></h3>
<h3><a href="/shell/reverse?input=test&amp;output=test&amp;start=0&amp;finsh=10"> Trim an MP3 </a></h3>
=end
%>