<% @sox %>

<div id="unedited" class="player">
<p>Unedited</p>
<%= audio_tag("/audios#{@audio}.mp3", autoplay: false, controls: true) %>
</div>

<div id="reversed" class="player">
<p>Reversed</p>
<p><%= link_to "Download Reversed MP3", "/audios#{@audio}r.mp3", class: "button" %></p>
<%= audio_tag("/audios#{@audio}r.mp3", autoplay: false, controls: true) %>
</div>


<div class="action links">
<%= link_to "Upload Another MP3", root_path, class: "button" %>
</div>

