<div id="unedited" class="container">
<p>Unedited</p>
<%= audio_tag("/audios#{@tmp_path}.mp3", autoplay: false, controls: true) %>
</div>

<div id="reversed" class="container">
<p>Reversed</p>
<p><%= 
link_to "Download Reversed MP3", "/audios#{@audio}r.mp3", 
  class: "button", 
  title: "Right Click and Save As..." 
%></p>

<%= audio_tag("/audios#{@tmp_path}r.mp3", autoplay: false, controls: true) %>
</div>


<div class="action links">
<%= link_to "Upload Another MP3", root_path, class: "button" %>
</div>

