<% @sox %>

<div id="unedited" class="player">
<p>Unedited</p>
<%= audio_tag("/audios#{@audio}.mp3", autoplay: false, controls: true) %>
</div>

<div id="reversed" class="player">
<p>Reversed</p>
<%= audio_tag("/audios#{@audio}r.mp3", autoplay: false, controls: true) %>
</div>

<div class="links">
<%= link_to "Reverse another MP3", root_path %>
</div>

