<%= render 'upload_form' %>

<div class="description">
  <p> From Wikipedia: </p>

  <blockquote>
    <em>Backmasking</em> ... is a recording technique in which a sound or 
    message is recorded backward on to a track that is meant to be played forward.
  </blockquote>

  </p>

  <p><strong>BackMasked</strong> is a simple online sound reversing web application. Use it 
    to reverse the playback of any MP3 file. No more need to download some third party program
    just to simply reverse a song. Try it on your favorite songs, recordings, and sound clips!
  </p>
</div>